body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

header {
    margin-top: 0;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.973), rgba(255, 255, 255, 0)), url('/media/cowhut.jpg');



}